
.c2{
    
    font-size: medium;
    font-style: initial;
    height: 100%;
    width: 80%;
    float: left;
}
a i:hover{
    color: rgb(59, 59, 223);
}
 
h1:hover{
    color: #5f5a5a;
}

.r2{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('bg.png');
    background-attachment: fixed;
    height: 450px;
    padding: 200px;
    padding-left: 440px;

}
h2{
    padding-bottom: 10px;
    
}
.r3{
    
    height: 120px;
    padding-left: 570px;
    padding-top: 60px;
}
.r4{
    display: flex;
    height: 340px;
    padding: 100px;
    flex-direction: row;
    padding-left: 250px;
}

.set{
    margin: 20px;
    transition: 1s;
}

.set img{
    border: solid rgb(51, 49, 49);
    border-radius:50%;
    height: 156px;
    margin: 15px;
}
.set:hover{
    transform:scale(1.2);
    z-index: 2;
}
#search{
    width: 400px;
}
.footer{
    
    height: 150px;
    background-color:#333333;
    padding-top: 50px;
    padding-left: 400px;
}
.footer>a{
    padding-right: 70px;
    color: white;
    
}
p{
   padding-top: 30px; 
   padding-left: 150px;
   color: #a9a9a9;
   font-size: small;
}

.fa-sign-in-alt{
    color: #5f5a5a;
    float: right;
    padding: 20px 5px 15px 15px;
}
.fa-user{
    color: #5f5a5a;
    float: right;
    padding: 3.9px 5px 15px 15px;
}
.slide-frame{
    overflow: hidden;
    height: 500px;
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
}
.slide-images{
    position: relative;
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    margin-top: 10px;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
@-webkit-keyframes slide_animation{
    0% {left: 0px;}
    10% {left: 0px;}
    20% {left: 1200px;}
    30% {left: 1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left: 0px;}
}
.img-container{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}